<nav class="navbar sticky-top navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MoveTHood</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item n-header">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {%if user.is_authenticated%}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'post'%}">Create post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'biz'%}">Add business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'profile' user.id%}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/logout/">Logout</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="{%url 'search'%}">
        <input class="form-control me-2" type="search" placeholder="Enter your hood name" aria-label="Search" name="business">
        <button class="btn btn-sm btn-outline-info btn-dark" type="submit">Search Businesses</button>
      </form>
    {%else%}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/register/">Register</a>
        </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/login/">Login</a>
        </li>
    </ul>
    {%endif%}
  </div>
</nav>