{%extends 'base.html'%}
{%load bootstrap5%}
{%load static%}


{%block content%}

<div class="container">
    <div class="row" style="margin-top:2.5%;">
        <div class="col-sm-2">

    </div>
    <div class="col-md-5">

    </div>
    <div class="col-md-5">


        <p></p>

    </div>
    </div>


<div class="container">
    <div class="row" style="margin-top:1.5%;">
    {%if profile%}
    <div class="col-lg-2">
        <img src="{%static 'photos/avatar-3814049_640.png'%}" alt="Change profile photo" class="cuser-p-photo img-responsive" width="150" height="150" style="border-radius:50%;">
    </div>
    <div class="col-lg-4">
        <h1>{{user.username}}</h1>
        {%for p in profile%}
        <h6>{{p.bio}}</h6>
        {%endfor%}
        {%else%}
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method="post" action="{% url 'profile' user.id%}" enctype="multipart/form-data" style="text-align:center;">
                {% csrf_token %}
                {% bootstrap_form profileform layout='inline' %}
                <button type="submit" class="btn btn-sm btn-outline-dark btn-success" value="Post" style="margin-top:1.5%;">Update profile</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
        {%endif%}
        <hr style="margin-top:1.5%;">
        <div class="row">
            <div class="col-sm-4">
               {%if posts%}
                <p><span><strong>{{posts|length}}</strong></span> posts</p>
                {%else%}
                <p>0 posts</p>
                {%endif%}
            </div>
            <div class="col-sm-4">
               {%if businesses%}
                <p><span><strong>{{businesses|length}}</strong></span> businesses</p>
                {%else%}
                <p>0 businesses</p>
                {%endif%}
            </div>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/api/hood/health/nearby/">Health Nearby</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/api/hood/police/nearby/">Police Nearby</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-4"></div>
</div>

<hr>
<div class="container">

    <div class="card" style="width:25%;">
        <div class="card-title">
            <h6>Your posts will appear here</h6>
            <a class="card-text">Share something?</a>
        </div>
    </div>
</div>

</div>
</div>
{%endblock%}