{%extends 'base.html'%}
{%load bootstrap5%}
{%load static%}


{%block content%}
<body style="background-color:#fca311;">

</body>


<div class="container">
    <div class="row" style="margin-top:2.5%;">
        <div class="col-md-2"></div>
    <div class="col-md-4" style="margin-left:15%;margin-top:10%;">
        <h5>One more thing...</h5>
        <h6>What is the name of your new neighborhood?</h6>
        <form method="post" action="{% url 'update-hood' %}" enctype="multipart/form-data" style="text-align:center;">
            {% csrf_token %}
            {% bootstrap_form updatehood layout='inline' %}
            <button type="submit" class="btn btn-sm btn-light btn-outline-dark" value="Post" style="margin-top:1.5%;">Update</button>
        </form>
    </div>
    <div class="col-md-2">


        <p></p>

    </div>
    </div>
</div>
{%endblock%}